
@{
    ViewData["Title"] = "RegisterForCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using GroupBCapstoneProject.Data;
<h3>Register For A Course</h3>
<a href="@Url.Content("~/Available Courses.docx")">Check out our courses</a>
<h2>Courses</h2>

<table class="table">
    <thead>
        <tr>
            <th>Course Number</th>
            <th>Section Number</th>
            <th>Available Seats</th>
            <th>Faculty</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Credit Hours</th>
            <th>Building Name</th>
            <th>Building Number</th>
            <th>Meets on Monday</th>
            <th>Meets on Tuesday</th>
            <th>Meets on Wednesday</th>
            <th>Meets on Thursday</th>
            <th>Meets on Friday</th>
            <th>Meets on Saturday</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CourseForRegistration course in ViewBag.listOfCoursesForRegistration)
        {<tr>
            <td>@course.CourseNumber</td>
            <td>@course.SectionNumber</td>
            <td>@course.AvailableSeats</td>
            <td>@course.Faculty</td>
            <td>@if (course.StartTime.HasValue) 
                {
                @course.StartTime.Value.ToString("T");
                }
                else { @course.StartTime.ToString(); }</td>
            <td>
                @if (course.EndTime.HasValue)
                {
                    @course.EndTime.Value.ToString("T");
                }
                else { @course.EndTime.ToString(); }</td>
            <td>@course.CreditHours</td>
            <td>@course.BuildingName</td>
            <td>@course.BuildingNumber</td>
            <td>@course.DisplayMonday()</td>
            <td>@course.DisplayTuesday()</td>
            <td>@course.DisplayWednesday()</td>
            <td>@course.DisplayThursday()</td>
            <td>@course.DisplayFriday()</td>
            <td>@course.DisplaySaturday()</td>
        </tr>    
        }
        </tbody>
    </table>

<p style="font-weight: bold">Want to register for a class?  Select the Section Number of the class you would like and hit Register.</p>
<div style="color: #ff0000;">@ViewData["ErrorMessage"]</div>

<form action="/Student/RegisterForCourse" method="post">

    <select id="SelectSectionNumberList" name="courseID">
        @foreach (CourseForRegistration course in ViewBag.listOfCoursesForRegistration)
        {
            <option value="@course.ID">@course.SectionNumber</option>
        }
    </select>

    <button type="submit" class="btn btn-dark">Register</button>
</form>
