@model IEnumerable<MVC_Payments.Models.TransactionResponse>

@{
    ViewData["Title"] = "TransactionResponse";
}

<h1>TransactionResponse</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.resultCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.responseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.messageCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.authCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.errorCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.errorText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.resultCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.responseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.messageCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.authCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.errorCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.errorText)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
